{
    "openapi": "3.0.0",
    "info": {
        "title": "LMS BPSDM MALUT API Documentation",
        "description": "API documentation for LMS BPSDM MALUT module",
        "contact": {
            "name": "Wahyu Umaternate",
            "url": "https://wahyuumaternate.my.id/",
            "email": "retmu@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://lms.wahyuumaternate.my.id",
            "description": "Production Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/api/v1/admin": {
            "get": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Get all admins and instructors",
                "description": "Returns paginated list of all admins and instructors",
                "operationId": "ce83293da5faf4a064f0c4fc28ea9f02",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term to filter results (searches username, email, nama_lengkap and nip)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "description": "Filter by role (super_admin or instruktur)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "super_admin",
                                "instruktur"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "example": "superadmin"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "superadmin@example.com"
                                                    },
                                                    "role": {
                                                        "type": "string",
                                                        "example": "super_admin"
                                                    },
                                                    "nama_lengkap": {
                                                        "type": "string",
                                                        "example": "Super Admin"
                                                    },
                                                    "nama_dengan_gelar": {
                                                        "type": "string",
                                                        "example": "Super Admin"
                                                    },
                                                    "nip": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "gelar_depan": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "gelar_belakang": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "bidang_keahlian": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "no_telepon": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "alamat": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "foto_profil": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "email_verified_at": {
                                                        "type": "string",
                                                        "example": null
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2025-10-25 06:08:19"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2025-10-25 06:08:19"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Create new admin or instructor",
                "description": "Create a new admin or instructor account (Super Admin only)",
                "operationId": "6479a32e09a0bd0f39be8dcbfcf85fcf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "username",
                                    "email",
                                    "password",
                                    "role",
                                    "nama_lengkap"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "instructor1"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "instructor1@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "super_admin",
                                            "instruktur"
                                        ],
                                        "example": "instruktur"
                                    },
                                    "nama_lengkap": {
                                        "type": "string",
                                        "example": "Instructor Name"
                                    },
                                    "nip": {
                                        "type": "string",
                                        "example": "198501012010011001"
                                    },
                                    "gelar_depan": {
                                        "type": "string",
                                        "example": "Dr."
                                    },
                                    "gelar_belakang": {
                                        "type": "string",
                                        "example": "M.Pd"
                                    },
                                    "bidang_keahlian": {
                                        "type": "string",
                                        "example": "Matematika"
                                    },
                                    "no_telepon": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "alamat": {
                                        "type": "string",
                                        "example": "Jl. Pendidikan No. 123"
                                    },
                                    "foto_profil": {
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "email",
                                    "password",
                                    "role",
                                    "nama_lengkap"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "instructor1"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "instructor1@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "super_admin",
                                            "instruktur"
                                        ],
                                        "example": "instruktur"
                                    },
                                    "nama_lengkap": {
                                        "type": "string",
                                        "example": "Instructor Name"
                                    },
                                    "nip": {
                                        "type": "string",
                                        "example": "198501012010011001"
                                    },
                                    "gelar_depan": {
                                        "type": "string",
                                        "example": "Dr."
                                    },
                                    "gelar_belakang": {
                                        "type": "string",
                                        "example": "M.Pd"
                                    },
                                    "bidang_keahlian": {
                                        "type": "string",
                                        "example": "Matematika"
                                    },
                                    "no_telepon": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "alamat": {
                                        "type": "string",
                                        "example": "Jl. Pendidikan No. 123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Admin/Instructor created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin/Instruktur created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "instructor1"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "instructor1@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "instruktur"
                                                },
                                                "nama_lengkap": {
                                                    "type": "string",
                                                    "example": "Instructor Name"
                                                },
                                                "nama_dengan_gelar": {
                                                    "type": "string",
                                                    "example": "Dr. Instructor Name, M.Pd"
                                                },
                                                "nip": {
                                                    "type": "string",
                                                    "example": "198501012010011001"
                                                },
                                                "gelar_depan": {
                                                    "type": "string",
                                                    "example": "Dr."
                                                },
                                                "gelar_belakang": {
                                                    "type": "string",
                                                    "example": "M.Pd"
                                                },
                                                "bidang_keahlian": {
                                                    "type": "string",
                                                    "example": "Matematika"
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": "081234567890"
                                                },
                                                "alamat": {
                                                    "type": "string",
                                                    "example": "Jl. Pendidikan No. 123"
                                                },
                                                "foto_profil": {
                                                    "type": "string",
                                                    "example": "1698304599.jpg"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Only Super Admin can create new admin/instruktur."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/admin/{id}": {
            "get": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Get admin or instructor by ID",
                "description": "Returns specific admin or instructor details",
                "operationId": "c18448b1c0011ee5a75981d3db158eda",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Admin/Instructor ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "superadmin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "superadmin@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "super_admin"
                                                },
                                                "nama_lengkap": {
                                                    "type": "string",
                                                    "example": "Super Admin"
                                                },
                                                "nama_dengan_gelar": {
                                                    "type": "string",
                                                    "example": "Super Admin"
                                                },
                                                "nip": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "gelar_depan": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "gelar_belakang": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "bidang_keahlian": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "alamat": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "foto_profil": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admin/Instructor not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin/Instructor not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Update admin or instructor",
                "description": "Update admin or instructor information (Super Admin can update any account, regular admin can only update their own)",
                "operationId": "22df1b3496842469e9c60a3ca0f352f7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Admin/Instructor ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "instructor1_updated"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "instructor1_updated@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "super_admin",
                                            "instruktur"
                                        ],
                                        "example": "instruktur"
                                    },
                                    "nama_lengkap": {
                                        "type": "string",
                                        "example": "Updated Instructor Name"
                                    },
                                    "nip": {
                                        "type": "string",
                                        "example": "198501012010011001"
                                    },
                                    "gelar_depan": {
                                        "type": "string",
                                        "example": "Prof. Dr."
                                    },
                                    "gelar_belakang": {
                                        "type": "string",
                                        "example": "M.Pd, Ph.D"
                                    },
                                    "bidang_keahlian": {
                                        "type": "string",
                                        "example": "Matematika Terapan"
                                    },
                                    "no_telepon": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "alamat": {
                                        "type": "string",
                                        "example": "Jl. Pendidikan Baru No. 456"
                                    },
                                    "foto_profil": {
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "instructor1_updated"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "instructor1_updated@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "super_admin",
                                            "instruktur"
                                        ],
                                        "example": "instruktur"
                                    },
                                    "nama_lengkap": {
                                        "type": "string",
                                        "example": "Updated Instructor Name"
                                    },
                                    "nip": {
                                        "type": "string",
                                        "example": "198501012010011001"
                                    },
                                    "gelar_depan": {
                                        "type": "string",
                                        "example": "Prof. Dr."
                                    },
                                    "gelar_belakang": {
                                        "type": "string",
                                        "example": "M.Pd, Ph.D"
                                    },
                                    "bidang_keahlian": {
                                        "type": "string",
                                        "example": "Matematika Terapan"
                                    },
                                    "no_telepon": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "alamat": {
                                        "type": "string",
                                        "example": "Jl. Pendidikan Baru No. 456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Admin/Instructor updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin/Instruktur updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "instructor1_updated"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "instructor1_updated@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "instruktur"
                                                },
                                                "nama_lengkap": {
                                                    "type": "string",
                                                    "example": "Updated Instructor Name"
                                                },
                                                "nama_dengan_gelar": {
                                                    "type": "string",
                                                    "example": "Prof. Dr. Updated Instructor Name, M.Pd, Ph.D"
                                                },
                                                "nip": {
                                                    "type": "string",
                                                    "example": "198501012010011001"
                                                },
                                                "gelar_depan": {
                                                    "type": "string",
                                                    "example": "Prof. Dr."
                                                },
                                                "gelar_belakang": {
                                                    "type": "string",
                                                    "example": "M.Pd, Ph.D"
                                                },
                                                "bidang_keahlian": {
                                                    "type": "string",
                                                    "example": "Matematika Terapan"
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": "081234567890"
                                                },
                                                "alamat": {
                                                    "type": "string",
                                                    "example": "Jl. Pendidikan Baru No. 456"
                                                },
                                                "foto_profil": {
                                                    "type": "string",
                                                    "example": "1698304799.jpg"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 07:13:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. You can only update your own account."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admin/Instructor not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin/Instructor not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Delete admin or instructor",
                "description": "Delete admin or instructor account (Super Admin only)",
                "operationId": "5985f099a0a2b75774c4c881d359a376",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Admin/Instructor ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admin/Instructor deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin/Instruktur deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized. Only Super Admin can delete admin/instruktur."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Admin/Instructor not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin/Instructor not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Cannot delete the last Super Admin",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cannot delete the last Super Admin account."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/admin/login": {
            "post": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Login admin",
                "description": "Login using email or username and password",
                "operationId": "3b2e7038fd609fe308f47347dad02966",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login",
                                    "password"
                                ],
                                "properties": {
                                    "login": {
                                        "type": "string",
                                        "example": "superadmin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "superadmin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "superadmin@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "super_admin"
                                                },
                                                "nama_lengkap": {
                                                    "type": "string",
                                                    "example": "Super Admin"
                                                },
                                                "nama_dengan_gelar": {
                                                    "type": "string",
                                                    "example": "Super Admin"
                                                },
                                                "nip": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "gelar_depan": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "gelar_belakang": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "bidang_keahlian": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "alamat": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "foto_profil": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "3|Bvle2fJqOMe8hHLmjocdRaBkMVQaYz0PX9Sf9Ztff7ae3ab3"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/admin/logout": {
            "post": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Logout admin",
                "description": "Logout and revoke current access token",
                "operationId": "9746eb311e2fd2929363d5ae228f0d39",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/admin/me": {
            "get": {
                "tags": [
                    "Admin & Instruktur"
                ],
                "summary": "Get authenticated admin profile",
                "description": "Get current authenticated user information",
                "operationId": "5b1132155444110204caab144d79f6ad",
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "superadmin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "superadmin@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "super_admin"
                                                },
                                                "nama_lengkap": {
                                                    "type": "string",
                                                    "example": "Super Admin"
                                                },
                                                "nama_dengan_gelar": {
                                                    "type": "string",
                                                    "example": "Super Admin"
                                                },
                                                "nip": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "gelar_depan": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "gelar_belakang": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "bidang_keahlian": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "no_telepon": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "alamat": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "foto_profil": {
                                                    "type": "string",
                                                    "example": null
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/kategori-kursus": {
            "get": {
                "tags": [
                    "Kategori Kursus"
                ],
                "summary": "Get all Kategori Kursus",
                "description": "Returns list of all Kategori Kursus ordered by sequence",
                "operationId": "c7ca65d2d8f84e8024c43faa186eccd9",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nama_kategori": {
                                                        "type": "string",
                                                        "example": "Teknologi Informasi"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "teknologi-informasi"
                                                    },
                                                    "deskripsi": {
                                                        "type": "string",
                                                        "example": "Kategori untuk kursus-kursus terkait teknologi informasi"
                                                    },
                                                    "icon": {
                                                        "type": "string",
                                                        "example": "fa-laptop-code"
                                                    },
                                                    "urutan": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2025-10-25 06:08:19"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2025-10-25 06:08:19"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error fetching categories"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Kategori Kursus"
                ],
                "summary": "Create new course category",
                "description": "Creates a new course category",
                "operationId": "f255e7a0f2c0706dfc2ba6975c2ed424",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_kategori"
                                ],
                                "properties": {
                                    "nama_kategori": {
                                        "type": "string",
                                        "example": "Teknologi Informasi"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "example": "teknologi-informasi"
                                    },
                                    "deskripsi": {
                                        "type": "string",
                                        "example": "Kategori untuk kursus-kursus terkait teknologi informasi"
                                    },
                                    "icon": {
                                        "type": "string",
                                        "example": "fa-laptop-code"
                                    },
                                    "urutan": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori kursus created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Teknologi Informasi"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "teknologi-informasi"
                                                },
                                                "deskripsi": {
                                                    "type": "string",
                                                    "example": "Kategori untuk kursus-kursus terkait teknologi informasi"
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": "fa-laptop-code"
                                                },
                                                "urutan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error creating category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/kategori-kursus/{id}": {
            "get": {
                "tags": [
                    "Kategori Kursus"
                ],
                "summary": "Get course category by ID",
                "description": "Returns specific course category details",
                "operationId": "d33c742d053009120dd1d2c7155f50af",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Teknologi Informasi"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "teknologi-informasi"
                                                },
                                                "deskripsi": {
                                                    "type": "string",
                                                    "example": "Kategori untuk kursus-kursus terkait teknologi informasi"
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": "fa-laptop-code"
                                                },
                                                "urutan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error retrieving category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Kategori Kursus"
                ],
                "summary": "Update course category",
                "description": "Update an existing course category",
                "operationId": "9b9bee2240e925015f310aa4abb8b459",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama_kategori": {
                                        "type": "string",
                                        "example": "Teknologi Informasi Updated"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "example": "teknologi-informasi-updated"
                                    },
                                    "deskripsi": {
                                        "type": "string",
                                        "example": "Deskripsi yang telah diperbarui"
                                    },
                                    "icon": {
                                        "type": "string",
                                        "example": "fa-code"
                                    },
                                    "urutan": {
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori kursus updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Teknologi Informasi Updated"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "teknologi-informasi-updated"
                                                },
                                                "deskripsi": {
                                                    "type": "string",
                                                    "example": "Deskripsi yang telah diperbarui"
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": "fa-code"
                                                },
                                                "urutan": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 06:08:19"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-10-25 07:13:19"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error updating category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Kategori Kursus"
                ],
                "summary": "Delete course category",
                "description": "Delete a course category if it has no related courses",
                "operationId": "b1aba87e712f7b4c795e23e6c6007480",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori kursus deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Cannot delete category with related courses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cannot delete kategori. It has related kursus."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error deleting category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/kursus": {
            "get": {
                "tags": [
                    "Kursus"
                ],
                "summary": "Get all Kursus",
                "description": "Returns paginated list of all Kursus with filtering options",
                "operationId": "4d5f721ba7252974ea001774623d9cfa",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by course status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "aktif",
                                "nonaktif",
                                "selesai"
                            ]
                        }
                    },
                    {
                        "name": "kategori_id",
                        "in": "query",
                        "description": "Filter by category ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "description": "Filter by course level",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "dasar",
                                "menengah",
                                "lanjut"
                            ]
                        }
                    },
                    {
                        "name": "tipe",
                        "in": "query",
                        "description": "Filter by course type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "daring",
                                "luring",
                                "hybrid"
                            ]
                        }
                    },
                    {
                        "name": "admin_instruktur_id",
                        "in": "query",
                        "description": "Filter by instructor ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
[...]
